/* Theme */
html:not([data-darkreader-mode]) > body {
  background: linear-gradient(45deg,#ff00e3,#004cff);
  color: #999;
  transition: all 1s;
  min-height: calc(100vh - 116px) !important;
  background-attachment: fixed;
}
html[data-fulldark]:not([data-darkreader-mode]) > body,
html[data-userscript-fulldark]:not([data-darkreader-mode]) > body,
html[data-amoled]:not([data-darkreader-mode]) > body,
html[data-userscript-amoled]:not([data-darkreader-mode]) > body {
  background: #000 !important;
}

/* background thing */
html:not([data-darkreader-mode]) > body::before {
  content: ' ';
  position: fixed;
  top: 0;
  left: 50vw;
  background: #2d2d2d7a;
  height: 100vh;
  width: 75vw;
  min-width: 980px;
  transform: translate(-50%,0);
}
html:not([data-darkreader-mode]) .wrapper {
  width: 100vh;
  margin: 0 auto;
  position: absolute;
  left: 50vw;
  transform: translate(-50%,0);
  z-index: 2;
}
[data-darkreader-mode] .wrapper {
  filter: blur(10px);
}
[data-darkreader-mode] body::before {
  content: 'Please disable Dark Reader for this page! Thank you! (this page is a dark themed page so dw bout your eyes)';
  width:75vw;
  position:fixed;
  left:50vw;
  top:50vh;
  transform: translate(-50%,-50%);
  z-index: 50;
  text-align: center;
  font-size: calc(1vw + 2em)
}
[data-darkreader-mode] body::after {
  content: ' ';position:fixed;left:0;top:0;width:100vw;height:100vh;display:block;background:linear-gradient(45deg, rgb(111, 0, 98), rgb(2, 30, 98));
}

/* Fixes */
html:not([data-darkreader-mode]) footer {
  position:fixed;bottom:10px;left:50vw;transform:translate(-50%,0);text-align:center;
}

/* Links */
a:hover,
a:focus {
  color: #069;
  font-weight: initial !important;
  /* text-decoration: dotted;
        text-decoration-color: #069;
        text-decoration-line:underline !important;*/
}

/* Titles */
h1,
h2,
h3,
h4 {
  font-weight: initial !important;
  color: #fff !important;
}

/* Small Elements */
small {
  font-weight: 100;
}

/* Code */
code,
pre {
  color: #777;
}
