/* Theme */
body {
  background: linear-gradient(45deg,#ff00e3,#004cff);
  color: #999;
  transition: all 1s;
  min-height: calc(100vh - 116px) !important;
}

/* background thing */
body::before {
  content: ' ';
  position: fixed;
  top: 0;
  left: 50vw;
  background: #2d2d2d7a;
  height: 100vh;
  width: 75vw;
  min-width: 980px;
  transform: translate(-50%,0);
}
.wrapper {
    width: 100vh;
    margin: 0 auto;
    position: absolute;
    left: 50vw;
    transform: translate(-50%,0);
}

/* Links */
a:hover,
a:focus {
  color: #069;
  font-weight: initial !important;
  /* text-decoration: dotted;
        text-decoration-color: #069;
        text-decoration-line:underline !important;*/
}

/* Titles */
h1,
h2,
h3,
h4 {
  font-weight: initial !important;
  color: #fff !important;
}

/* Small Elements */
small {
  font-weight: 100;
}

/* Code */
code,
pre {
  color: #777;
}
