/* Dark Theme */
body {
  background: #000;
  color: #999;
  transition: all 1s;
}

/* Links */
a:hover,
a:focus {
  color: #069;
  font-weight: initial !important;
  /* text-decoration: dotted;
        text-decoration-color: #069;
        text-decoration-line:underline !important;*/
}

/* Titles */
h1,
h2,
h3,
h4 {
  font-weight: initial !important;
  color: #fff !important;
}

/* Small Elements */
small {
  font-weight: 100;
}

/* Code */
code,
pre {
  color: #777;
}
